body {
    line-height: 1.5;
    font-family: 'Roboto',sans-serif;sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color:black;
    margin:2em;
}

#controls {
    display: flex;
    margin-top: 2rem;
    max-width: 28em;
}

button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    background-color: #4095c6;
}

button:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

button:disabled {
    pointer-events: none;
    background: lightgray;
}
button:first-child {
    margin-left: 0;
}

audio {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
}

/* li { */
/*     list-style: none; */
/*     margin-bottom: 1rem; */
/* } */

#steps {
    list-style: upper-roman;
}
#formats {
    margin-top: 0.5rem;
    font-size: 80%;
}

#recordingsList{
    max-width: 28em;
}

.check {
    width:18px;
    height:18px;
}
.blinking {
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite;

}

@keyframes "blink" {
    from, to {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
}

@-moz-keyframes blink {
    from, to {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
}

@-webkit-keyframes "blink" {
    from, to {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
}

@-ms-keyframes "blink" {
    from, to {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
}

@-o-keyframes "blink" {
    from, to {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
}
